*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:100%;
    background:#EFEFEF;
}

.content{
    width:600px;
    margin:auto;
    background:white;
    margin-top:50px;
    padding:20px;
    border-radius:10px;

}

#todo_list{
    width:100%;
    height:auto;
    min-height:50px;
}

h1{
    width:200px;
    margin:auto;
    font-size:42px;
    text-align: center;
    margin-bottom:20px;
    color:#FFC096;
}

#todo_list li {
    list-style-type: none;
    width:500px;
    height:50px;
    line-height:50px;
    text-indent: 20px;
    border-left:solid 4px #72ca59;
    font-size:18px;
}

.todo_item{
    width:100%;
    height:50px;
    position:relative;
    background:#EFEFEF;
    border:solid white 2px;
}


.day_left{
    width:50px;
    height:12px;
    font-size:10px;
    color:white;
    background:red;
    border-radius:5px;
    margin-left:8px;
    padding:2px;
}

.todo_item > *{
    display: block;
}

.todo_action{
    width:75px;
    height:25px;
    position:absolute;
    top:50%;
    left:95%;
    transform: translate(-80%,-50%);
}

.todo_action > *{
    width:25px;
    height:25px;
    line-height:27px;
    text-align: center;
    color:white;
    border-radius: 50%;
    float:left;
    cursor: pointer;
    border:none;
}

.validation{
    margin-right:15px;
    background: #96E083;
}

.validation:hover{
    background: #72ca59;
}

.delete{
    background: #FF5A5A;
}

.delete:hover{
    background: #F50000;
}

#form{
    width:400px;
    margin:auto;
}

 #form > input{
     display:block;
     width:100%;
     margin:auto;
     padding:5px;
     margin-bottom:10px;
     padding:10px;
 }


 #form > input[type=submit]{
     width:125px;
     height:35px;
     line-height: 16px;
     font-size:18px;
 }

 #add{
     border-radius:5px;
     background: #72ca59;
     border:none;
     color:white;     
     cursor:pointer;
     padding:0;
 }

 #add:hover{
     background: #50AE37;
 }

