{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}" />
<script src="{% static 'polls/jquery-3.2.1.min.js' %} "></script>
<script src="{% static 'polls/jquery.sortable.js' %} "></script>
<script src="{% static 'polls/index.js' %} "></script>


<div class="content">
    <h1>Todo list</h1>
    
    <form method="post" id="form">  
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" id="add" />
    </form>
    <ul id="todo_list">
    {% if todo_list %}
    {% for todo in todo_list %}
        <div class="todo_item">
            <li class="todo_text {{ todo.validate }}">{{ todo.todo_text }}</li>
            <div class="button validation" >&#x2714;</div>
            <div class="button delete" >&#10006;</div>
        </div>
    {% endfor %}
    {% endif %}
    </ul>
</div>

<p class="notif" ></p>


<p>{{ error }}</p>