{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}" />
<script src="{% static 'polls/jquery-3.2.1.min.js' %} "></script>
<script src="{% static 'polls/jquery.sortable.js' %} "></script>
<script src="{% static 'polls/index.js' %} "></script>


<div class="content">
    <h1>Todo list</h1>
    
    <form method="post" id="form">  
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" id="add" />
    </form>
    {% if todo_list %}
    <ul id="todo_list">
    {% for todo in todo_list %}
        <div class="todo_item">
            <li class="todo_text">{{ todo.todo_text }}</li>
            <form method="post" class="todo_action">
                {% csrf_token %}
                <input type="hidden" name="text" value="{{ todo.todo_text }}"></input>
                <input type="submit" class="validation" value="&#x2714;"></input>
                <input type="submit" class="delete" value="&#10006;"></input>
            </form>
        </div>
    {% endfor %}
    </ul>
    {% endif %}
</div>




<p>{{ error }}</p>